body{background-color: burlywood;} 
table{text-size-adjust: 200px;}


.titlu{font-size: 300%;
}

.pre{font-size: 200%;}

.ingre{font-size: 200%;}
.xi{font-size: 150%;}
.trw{font-size: 125%;}
.img{width: 300px;}

.PREÇOS{font-size: 300%;}

table{width: 40%;}
.ce{font-size: 200%;}

.choco{width: 150px;}
.carne{width: 150px;}
.panf{width: 150px;}
.pq{width: 150px;}
.quei{width: 150px;}
.confe{width: 150px;}