body{background-color: burlywood;} 
table{text-size-adjust: 200px;}


.titlu{font-size: 300%;
}

.pre{font-size: 200%;}

.ingre{font-size: 200%;}
.xi{font-size: 150%;}
.trw{font-size: 125%;}
.img{width: 300px;}

.PREÇOS{font-size: 300%;}

table{width: 80px;}
.ce{font-size: 200%;}